In [30]:
import pandas as pd

In [82]:
dataframe = pd.read_csv("unemployment_analysis.csv")

In [83]:
print(dataframe)

                    Country Name Country Code        1991        1992  \
0    Africa Eastern and Southern          AFE    7.8 lacs   7.84 lacs
1                    Afghanistan          AFG  10.65 lacs  10.82 lacs
2     Africa Western and Central          AFW   4.42 lacs   4.53 lacs
3                         Angola          AGO   4.21 lacs   4.21 lacs
4                        Albania          ALB  10.31 lacs  30.01 lacs
..                           ...          ...         ...         ...
230                        Samoa          WSM    2.1 lacs   2.38 lacs
231                  Yemen, Rep.          YEM   8.32 lacs   8.31 lacs
232                 South Africa          ZAF  29.95 lacs  29.98 lacs
233                       Zambia          ZMB   18.9 lacs  19.37 lacs
234                     Zimbabwe          ZWE   4.94 lacs   4.99 lacs

           1993        1994        1995        1996        1997        1998  \
0     7.85 lacs   7.84 lacs   7.83 lacs   7.84 lacs   7.86 lacs   7.81 lacs
1    10.72 lacs  10.73 lacs  11.18 lacs  10.96 lacs  10.78 lacs   10.8 lacs
2     4.55 lacs   4.54 lacs   4.53 lacs   4.57 lacs    4.6 lacs   4.66 lacs
3     4.23 lacs   4.16 lacs   4.11 lacs    4.1 lacs   4.09 lacs   4.07 lacs
4    25.26 lacs  20.84 lacs  14.61 lacs  13.93 lacs  16.88 lacs  20.05 lacs
..          ...         ...         ...         ...         ...         ...
230   2.63 lacs   3.04 lacs   3.19 lacs   3.47 lacs    3.9 lacs   4.18 lacs
231   8.35 lacs   8.34 lacs   8.96 lacs   9.59 lacs   10.2 lacs  10.81 lacs
232  29.92 lacs  29.89 lacs  29.89 lacs  29.87 lacs  29.91 lacs  29.95 lacs
233   19.7 lacs  18.43 lacs  16.81 lacs   15.3 lacs  13.64 lacs     12 lacs
234   4.97 lacs   4.96 lacs   5.63 lacs   6.25 lacs   6.93 lacs   6.46 lacs

     ...        2012        2013        2014        2015        2016  \
0    ...   6.56 lacs   6.45 lacs   6.41 lacs   6.49 lacs   6.61 lacs
1    ...  11.34 lacs  11.19 lacs  11.14 lacs  11.13 lacs  11.16 lacs
2    ...   4.64 lacs   4.41 lacs   4.69 lacs   4.63 lacs   5.57 lacs
3    ...   7.35 lacs   7.37 lacs   7.37 lacs   7.39 lacs   7.41 lacs
4    ...  13.38 lacs  15.87 lacs  18.05 lacs  17.19 lacs  15.42 lacs
..   ...         ...         ...         ...         ...         ...
230  ...   8.75 lacs   8.67 lacs   8.72 lacs    8.5 lacs   8.31 lacs
231  ...  13.17 lacs  13.27 lacs  13.47 lacs  13.77 lacs  13.43 lacs
232  ...  24.73 lacs  24.56 lacs  24.89 lacs  25.15 lacs  26.54 lacs
233  ...   7.85 lacs   8.61 lacs   9.36 lacs  10.13 lacs  10.87 lacs
234  ...   5.15 lacs   4.98 lacs   4.77 lacs   4.78 lacs   4.79 lacs

           2017        2018        2019        2020        2021
0     6.71 lacs   6.73 lacs   6.91 lacs   7.56 lacs   8.11 lacs
1    11.18 lacs  11.15 lacs  11.22 lacs  11.71 lacs  13.28 lacs
2     6.02 lacs   6.04 lacs   6.06 lacs   6.77 lacs   6.84 lacs
3     7.41 lacs   7.42 lacs   7.42 lacs   8.33 lacs   8.53 lacs
4    13.62 lacs   12.3 lacs  11.47 lacs  13.33 lacs  11.82 lacs
..          ...         ...         ...         ...         ...
230   8.58 lacs   8.69 lacs   8.41 lacs   9.15 lacs   9.84 lacs
231   13.3 lacs  13.15 lacs  13.06 lacs  13.39 lacs  13.57 lacs
232  27.04 lacs  26.91 lacs  28.47 lacs  29.22 lacs  33.56 lacs
233  11.63 lacs  12.01 lacs  12.52 lacs  12.85 lacs  13.03 lacs
234   4.78 lacs    4.8 lacs   4.83 lacs   5.35 lacs   5.17 lacs

[235 rows x 33 columns]

In [166]:
dataframe.head(8)

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.8 lacs,7.84 lacs,7.85 lacs,7.84 lacs,7.83 lacs,7.84 lacs,7.86 lacs,7.81 lacs,...,6.56 lacs,6.45 lacs,6.41 lacs,6.49 lacs,6.61 lacs,6.71 lacs,6.73 lacs,6.91 lacs,7.56 lacs,8.11 lacs
1,Afghanistan,AFG,10.65 lacs,10.82 lacs,10.72 lacs,10.73 lacs,11.18 lacs,10.96 lacs,10.78 lacs,10.8 lacs,...,11.34 lacs,11.19 lacs,11.14 lacs,11.13 lacs,11.16 lacs,11.18 lacs,11.15 lacs,11.22 lacs,11.71 lacs,13.28 lacs
2,Africa Western and Central,AFW,4.42 lacs,4.53 lacs,4.55 lacs,4.54 lacs,4.53 lacs,4.57 lacs,4.6 lacs,4.66 lacs,...,4.64 lacs,4.41 lacs,4.69 lacs,4.63 lacs,5.57 lacs,6.02 lacs,6.04 lacs,6.06 lacs,6.77 lacs,6.84 lacs
3,Angola,AGO,4.21 lacs,4.21 lacs,4.23 lacs,4.16 lacs,4.11 lacs,4.1 lacs,4.09 lacs,4.07 lacs,...,7.35 lacs,7.37 lacs,7.37 lacs,7.39 lacs,7.41 lacs,7.41 lacs,7.42 lacs,7.42 lacs,8.33 lacs,8.53 lacs
4,Albania,ALB,10.31 lacs,30.01 lacs,25.26 lacs,20.84 lacs,14.61 lacs,13.93 lacs,16.88 lacs,20.05 lacs,...,13.38 lacs,15.87 lacs,18.05 lacs,17.19 lacs,15.42 lacs,13.62 lacs,12.3 lacs,11.47 lacs,13.33 lacs,11.82 lacs
5,Arab World,ARB,11.62 lacs,12.12 lacs,12.86 lacs,12.95 lacs,13.32 lacs,12.38 lacs,11.95 lacs,11.97 lacs,...,10.66 lacs,10.74 lacs,10.87 lacs,10.97 lacs,10.76 lacs,10.9 lacs,10.5 lacs,10.01 lacs,11.49 lacs,11.63 lacs
6,United Arab Emirates,ARE,1.87 lacs,1.84 lacs,1.85 lacs,1.81 lacs,1.8 lacs,1.9 lacs,1.98 lacs,2.14 lacs,...,2.18 lacs,2.04 lacs,1.91 lacs,1.77 lacs,1.64 lacs,2.46 lacs,2.35 lacs,2.23 lacs,3.19 lacs,3.36 lacs
7,Argentina,ARG,5.44 lacs,6.36 lacs,10.1 lacs,11.76 lacs,18.8 lacs,17.11 lacs,14.82 lacs,12.65 lacs,...,7.22 lacs,7.1 lacs,7.27 lacs,7.52 lacs,8.11 lacs,8.35 lacs,9.22 lacs,9.84 lacs,11.46 lacs,10.9 lacs

In [263]:


df1=dataframe[dataframe.columns[2:33]].replace('lacs','',regex=True).astype(float)
df1

,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,7.79,7.72,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,10.81,10.81,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,4.86,4.92,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,4.05,4.03,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,20.84,19.03,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,2.10,2.38,2.63,3.04,3.19,3.47,3.90,4.18,4.48,4.66,...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
231,8.32,8.31,8.35,8.34,8.96,9.59,10.20,10.81,11.46,11.56,...,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
232,29.95,29.98,29.92,29.89,29.89,29.87,29.91,29.95,29.91,29.88,...,24.73,24.56,24.89,25.15,26.54,27.04,26.91,28.47,29.22,33.56
233,18.90,19.37,19.70,18.43,16.81,15.30,13.64,12.00,12.44,12.93,...,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
234,4.94,4.99,4.97,4.96,5.63,6.25,6.93,6.46,6.00,5.69,...,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

In [344]:
df2 = dataframe[dataframe.columns[0:2]]
df3 = df2.join(df1)
df3

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Samoa,WSM,2.10,2.38,2.63,3.04,3.19,3.47,3.90,4.18,...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
231,"Yemen, Rep.",YEM,8.32,8.31,8.35,8.34,8.96,9.59,10.20,10.81,...,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
232,South Africa,ZAF,29.95,29.98,29.92,29.89,29.89,29.87,29.91,29.95,...,24.73,24.56,24.89,25.15,26.54,27.04,26.91,28.47,29.22,33.56
233,Zambia,ZMB,18.90,19.37,19.70,18.43,16.81,15.30,13.64,12.00,...,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
234,Zimbabwe,ZWE,4.94,4.99,4.97,4.96,5.63,6.25,6.93,6.46,...,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

In [212]:
df4= dataframe.dtypes
df4

Country Name    object
Country Code    object
1991            object
1992            object
1993            object
1994            object
1995            object
1996            object
1997            object
1998            object
1999            object
2000            object
2001            object
2002            object
2003            object
2004            object
2005            object
2006            object
2007            object
2008            object
2009            object
2010            object
2011            object
2012            object
2013            object
2014            object
2015            object
2016            object
2017            object
2018            object
2019            object
2020            object
2021            object
dtype: object

In [389]:

df5 = df1.sum(axis=1)
df5

0      224.57
1      345.38
2      153.27
3      169.02
4      505.86
        ...
230    180.98
231    365.60
232    875.21
233    407.96
234    160.50
Length: 235, dtype: float64